.form {
  height: 52px;
  display: flex;
  padding-left: 1em;
  gap: 1em;
  background-color: var(--card-bg-color);
  border-radius: 5px;
}

.form input {
  width: 100%;
  padding-right: 1em;
  caret-color: var(--bright-blue);
  color: var(--card-text-color);
  background-color: transparent;
  border: none;
}

.form input::placeholder {
  color: var(--dark-grayish-blue);
}

.form input:focus {
  outline: none;
}

.btnAdd {
  align-self: center;
}
