.form {
  height: 48px;
  display: flex;
  padding-left: 1.5em;
  gap: 1.5em;
  background-color: var(--card-bg-color);
  border-radius: 5px;
  box-shadow: var(--box-shadow-sizes) var(--box-shadow-color);
}

.form input {
  width: 100%;
  padding-right: 1em;
  caret-color: var(--bright-blue);
  color: var(--card-text-color);
  background-color: transparent;
  border: none;
}

.form input::placeholder {
  color: var(--placeholder-color);
}

.form input:focus {
  outline: none;
}

.btnAdd {
  align-self: center;
}

@media (min-width: 600px) {
  .form {
    height: 64px;
  }

  .form input {
    font-size: 1.125rem;
  }
}
