.filters {
  display: flex;
  gap: 1.125em;
  font-weight: 700;
}

.filters > input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}

.filters > input:focus-visible + label {
  outline: auto;
}

.filters > input:checked + label {
  color: var(--bright-blue);
}
