.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10vw 0;
}

.themeBtn {
  background: transparent;
  border: none;
  cursor: pointer;
}

@media (min-width: 600px) {
  .header {
    padding: 5vw 0;
  }
}
