.todoItem {
  display: flex;
  gap: 1.25em;
  align-items: center;
  padding: 1.125em;
  color: var(--card-text-color);
  border-bottom: 1px solid var(--card-border-color);
  cursor: pointer;
}

.btnRemove {
  margin-left: auto;
}

.completed > .btnComplete {
  background: url('../assets/icon-check.svg') no-repeat center, var(--check-gradient);
  border: transparent;
  transition: none;
}

.completed > span {
  text-decoration: line-through;
  color: var(--dark-grayish-blue);
}

@media (min-width: 600px) {
  .btnRemove {
    opacity: 0;
    visibility: hidden;
  }

  .todoItem:hover > .btnRemove {
    opacity: 1;
    visibility: visible;
  }
}
