.todoItem {
  display: flex;
  align-items: center;
  padding: 1.125em 1.5rem;
  color: var(--card-text-color);
  border-bottom: 1px solid var(--card-border-color);
  cursor: pointer;
}

.todoItem span {
  margin-left: 1.5rem;
}

.btnRemove {
  margin-left: auto;
}

.completed > .btnComplete {
  background: url('../assets/icon-check.svg') no-repeat center, var(--check-gradient);
  border: transparent;
  transition: none;
}

.completed > span {
  text-decoration: line-through;
  color: var(--completed-text-color);
}

@media (min-width: 600px) {
  .btnRemove {
    opacity: 0;
    visibility: hidden;
  }

  .todoItem {
    font-size: 1.125rem;
  }

  .todoItem:hover > .btnRemove {
    opacity: 1;
    visibility: visible;
  }
}
